body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

#shareBtn{
  color: green;
  text-align: center;
}
